* {
  box-sizing: border-box;
  font-size: 14px;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

pre {
  padding: 12px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
}

.big-container {
  flex: 1;
  padding: 12px;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: #333;
  color: white;
  padding: 20px;
}
.sidebar-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.sidebar-header p {
  margin: 0;
}
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.sidebar-menu li {
  margin: 0;
}
.sidebar-menu li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 5px;
}
.sidebar-menu li a:hover {
  background: #444;
}
.sidebar-menu li a.active {
  background: #555;
}