* {
  box-sizing: border-box;
  font-size: 14px;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

pre {
  padding: 12px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
}

.big-container {
  flex: 1;
  padding: 12px;
}
